**/bin/
**/obj/
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.vs/
**/.vscode/
**/node_modules/
**/npm-debug.log
**/.nyc_output
**/.coverage
**/.coverage.*
**/coverage.lcov
frontend/
README.md
PROJECT_SUMMARY.md